* {
  margin: 0;
  padding: :0;
}
body {
  background-image: url("bild.jpg");
}
h1 {
  color: grey;
  font-size: 75px;
  font-family: "Lucida Handwriting";
  margin: 40px;
}

h2 {
   margin-left: -18%;
   padding: 80px;
   font-family: "Lucida Handwriting";
   font-size: 30px;
   color: lightgrey;
 }
 h3 {
   margin-left: -26%;
   padding: 80px;

   font-family: "Lucida Handwriting";
   font-size: 30px;
   color: lightgrey;
 }
h4 {
 margin: -16%;
 padding: 80px;

 font-family: "Lucida Handwriting";
 font-size: 30px;
 color: lightgrey;
}

h5 {
  color: #4a5e7c;
  margin: 30px 20%;
  font-size: 30px;
    font-family: "Lucida Handwriting";
}

h6 {
  color: grey;
  margin: 30px 20%;
  font-size: 30px;
    font-family: "Lucida Handwriting";
}

  .button {
      width: 200px;
      height: 200px;
      background-color: darkgrey;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -moz-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -webkit-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -o-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -webkit-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      margin-left: 20%;
      margin-top: 8%

  }

  .button:hover {
      -moz-transform: translate(0, -3px);
      -webkit-transform: translate(0, -3px);
      -o-transform: translate(0, -3px);
      transform: translate(0, -3px);
  }

  .button:active {
      box-shadow: 0 0 10px 4px #111, inset 0 0px 10px #ddd;
      -moz-box-shadow: 0 0 10px 4px #111, inset 0 0px 10px #ddd;
      -webkit-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -o-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -moz-transform: scale(.98);
      -webkit-transform: scale(.98);
      -o-transform: scale(.98);
      transform: scale(.98);
  }

  .button2 {
      width: 200px;
      height: 200px;
      background-color: darkgrey;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -moz-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -webkit-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -o-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -webkit-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      margin-left: 40%;
      margin-top: -17%;
  }

  .button2:hover {
      -moz-transform: translate(0, -3px);
      -webkit-transform: translate(0, -3px);
      -o-transform: translate(0, -3px);
      transform: translate(0, -3px);

  }

  .button2:active {
      box-shadow: 0 0 10px 4px #111, inset 0 0px 10px #ddd;
      -moz-box-shadow: 0 0 10px 4px #111, inset 0 0px 10px #ddd;
      -webkit-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -o-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -moz-transform: scale(.98);
      -webkit-transform: scale(.98);
      -o-transform: scale(.98);
      transform: scale(.98);
  }


  .button3 {
      width: 200px;
      height: 200px;
      background-color: darkgrey;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -moz-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -webkit-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -o-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      transition: all 100ms ease;
      -moz-transition: all 100ms ease;
      -webkit-transition: all 100ms ease;
      -o-transition: all 100ms ease;
      margin-left: 60%;
      margin-top: -15.5%
  }

  .button3:hover {
      -moz-transform: translate(0, -3px);
      -webkit-transform: translate(0, -3px);
      -o-transform: translate(0, -3px);
      transform: translate(0, -3px);

  }

  .button3:active {
      box-shadow: 0 0 10px 4px #111, inset 0 0px 10px #ddd;
      -moz-box-shadow: 0 0 10px 4px #111, inset 0 0px 10px #ddd;
      -webkit-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -o-box-shadow: 0 0 20px 4px #111, inset 0 5px 10px #ddd;
      -moz-transform: scale(.98);
      -webkit-transform: scale(.98);
      -o-transform: scale(.98);
      transform: scale(.98);
  }

 p {
   color: #4a5e7c;
   font-size: 18px;
   font-family: "Lucida Handwriting";
 }
.box {
  color: #4a5e7c;
  margin: 10px 20%;
  font-size: 18px;
  background-color: rgba(255,255,255,0.7);
  font-family: "Lucida Handwriting";
}
.box2 {
  color: #4a5e7c;
  margin: 10px 20%;
  font-size: 18px;
  background-color: rgba(255,255,255,0.7);
  font-family: "Lucida Handwriting";
}


.emailadresse {
margin-left 40px
}

.nachricht {
margin-right: 50%
}

.senden {
margin-left 10%
}


.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {

    color: #3B5998;
}
.fa-instagram {

    color: #55ACEE;
}
.fa-snapchat {

    color: #f7f300;
}


.nickname {
  margin-right: 40%
}
